.ctiet-main{
    color: black;
    padding: 20px 20px 50px 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
}
.ctiet-imguser {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 5px;
  }
  .ctiet-title{
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
  }
  .ctiet-imguserbig{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
  }
  .mg-top{
    margin-top: 20px;
  }
  .bd-left{
    border-left: 1px solid lightgray; ;
  }
  .ctiet-thongtin{
    padding-left: 35px;
  }
  .ctiet-top{
    padding-bottom: 20px;
  }
  .blue{
    color: blue;
    margin-right: 3px;
  }
  .yellow{
    color: #FFBE1C;
    margin-right: 5px;
  }
  .active{
    color: #FFBE1C;
  }
  .mg-top-sb{
    margin-top: 10px;
  }

  .form-control{
    width: 100%;
  }
  .ctiet-input{
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);  
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pink{
    color: rgb(251, 0, 42);
}


:root{
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-radius: 0.375rem;
}
.ctiet-button{
    font-weight: bold;
    color: #B79C10;
    background-color: transparent;
    border: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    text-align: center;
    display: block;
    padding: 7px 15px;
    border-radius: 15px;
    background-color: #FFED8A;
    color: #B79C10;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.custom-file-upload:hover {
    background-color: #FFE145;
}

