

@media screen and (min-width: 768px) {
    .recipelisting .cmp-recipe-listing-wrapper .cmp-recipe-listing-container .cmp-recipe-listing-items-container .cmp-recipe-listing-item {
        -webkit-box-flex:0;
        -ms-flex: 0 0 calc(25% - 1rem);
        flex: 0 0 calc(33% - 1rem);
        width: 0
    }
}
.mr-bot{
    margin-bottom: 3vh;
    margin-top: 1vh;
}

.name-ct{
    width: 70vh;
}
.anh-dact{
    height: 200px; width: 300px; object-fit: cover;
}
.anh-dact img{
    width: 100%;
}