.nav-link:hover {
    background-color: #333;
    color: #fff;
}
.nav-link {
    transition: all 0.3s ease;
}
.btn-account:hover {
    background-color: #fff;
    color: #333;
}






.rounded-image {
    border-radius: 50%;
    width: 100px; /* Điều chỉnh kích thước của ảnh */
    height: 100px; /* Điều chỉnh kích thước của ảnh */
    object-fit: cover; /* Để ảnh không bị biến dạng */
}