:root {
    --ogenix-font: 'Manrope', sans-serif;
    --ogenix-font-two: 'Caveat', cursive;
    --ogenix-reey-font: "reeyregular";
    --ogenix-white: #ffffff;
    --ogenix-white-rgb: 255, 255, 255;
    --ogenix-base: #50a72c;
    --ogenix-base-rgb: 80, 167, 44;
    --ogenix-black: #2a491d;
    --ogenix-black-rgb: 42, 73, 29;
    --ogenix-primary: #ffbd3c;
    --ogenix-primary-rgb: 255, 189, 60;
    --ogenix-gray: #7d8978;
    --ogenix-gray-rgb: 125, 137, 120;
    --ogenix-extra: #f3f3ed;
    --ogenix-extra-rgb: 243, 243, 237;
    --ogenix-bdr-color: #eaeae2;
    --ogenix-bdr-color-rgb: 234, 234, 226;
    --ogenix-letter-spacing: -0.04em;
    --ogenix-bdr-radius: 6px;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}



.nav-link:hover {
    background-color: #333;
    color: #fff;
}
.nav-link {
    transition: all 0.3s ease;
}
.btn-account:hover {
    background-color: #fff;
    color: #333;
}






.rounded-image {
    border-radius: 50%;
    width: 100px; /* Điều chỉnh kích thước của ảnh */
    height: 100px; /* Điều chỉnh kích thước của ảnh */
    object-fit: cover; /* Để ảnh không bị biến dạng */
}


.main-header-two {
    position: relative;
    display: block;
    transition: all 500ms ease;
    z-index: 999;
}

.main-header-two__top {
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 0px 0px rgba(234, 234, 226, 0.004);
    z-index: 2;
    border-bottom: 1px solid var(--ogenix-bdr-color);
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}

.main-header-two__top-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-header-two__logo {
    position: relative;
    display: block;
    padding-top: 23px;
    padding-bottom: 22px;
}
.main-header-two__right {
    position: relative;
    display: flex;
    align-items: center;
    padding: 29px 0;
}
.main-header-two__contact-list li .icon {
    position: relative;
    display: flex;
    align-items: center;
}
.main-header-two__contact-list li .text {
    margin-left: 10px;
}
.main-header-two__contact-list {
    position: relative;
    display: flex;
    align-items: center;
    padding: 17.5px 0;
}
.contact-item {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Khoảng cách giữa các cặp icon và thông tin */
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.main-header-two__search-cart-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.main-header-two__search-form-box {
    position: relative;
    display: block;
}
form {
    display: block;
    margin-top: 0em;
}
.main-header-two__search-form {
    position: relative;
    display: block;
    max-width: 452px;
    width: 100%;
}
.main-header-two__search-input-box {
    position: relative;
    display: block;
}
.main-header-two__search-icon {
    position: absolute;
    top: 55%;
    left: 30px;
    transform: translateY(-50%);
}
.main-header-two__search-icon span {
    font-size: 18px;
    color: var(--ogenix-gray);
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main-header-two__cart {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--ogenix-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    height: 50px;
    width: 50px;
    background-color: var(--ogenix-primary);
    border-radius: 50%;
    justify-content: center;
}
a, a:hover, a:focus, a:visited {
    text-decoration: none;
}
.main-menu {
    display: block;
}

.main-header-two__contact-list li .icon i {
    font-size: 15px;
    color: var(--ogenix-primary);
}
.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.main-header-two__search-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border: none;
    background-color: var(--ogenix-base);
}
.main-header-two__search-input-box input[type="search"] {
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--ogenix-extra);
    border-radius: 25px;
    padding-left: 60px;
    padding-right: 229px;
    font-size: 14px;
    font-weight: 400;
    color: var(--ogenix-gray);
}
.thm-btn {
    display: inline-block;
    vertical-align: middle;
    outline: none;
    color: var(--ogenix-white);
    font-size: 14px;
    font-weight: 800;
    padding: 9px 40px 11px;
    transition: all 0.5s linear;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
}

button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
.main-header-two__cart-box {
    position: relative;
    display: block;
    margin-left: 10px;
}
